.container {
  display: flex;
  flex-direction: column;
}

.infoBox {
  display: flex;
  flex-direction: row;
}

.poster {
  display: block;
  margin: 0;
  padding: 0;
  height: 400px;
}

.info {
  margin-left: 25px;
}

.subNav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
}

.subNavLink {
  display: block;
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 13px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: rgb(23, 156, 68);
}
